In [1]:
library(haven)
library(AER)
wagedata<-read_dta("MROZ.DTA")
head(wagedata)

#drop missing obs
wagedata<-subset(wagedata, is.na(wagedata$lwage)==F)

Loading required package: car

Loading required package: carData

Loading required package: lmtest

Loading required package: zoo


Attaching package: ‘zoo’


The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric


Loading required package: sandwich

Loading required package: survival

  inlf hours kidslt6 kidsge6 age educ wage   repwage hushrs husage ⋯ faminc
1 1    1610  1       0       32  12   3.3540 2.65    2708   34     ⋯ 16310
2 1    1656  0       2       30  12   1.3889 2.65    2310   30     ⋯ 21800
3 1    1980  1       3       35  12   4.5455 4.04    3072   40     ⋯ 21040
4 1     456  0       3       34  12   1.0965 3.25    1920   53     ⋯  7300
5 1    1568  1       2       31  14   4.5918 3.60    2000   32     ⋯ 27300
6 1    2032  0       0       54  12   4.7421 4.70    1040   57     ⋯ 19495
  mtr    motheduc fatheduc unem city exper nwifeinc  lwage      expersq
1 0.7215 12        7        5.0 0    14    10.910060 1.21015370  196
2 0.6615  7        7       11.0 1     5    19.499981 0.32851210   25
3 0.6915 12        7        5.0 0    15    12.039910 1.51413774  225
4 0.7815  7        7        5.0 0     6     6.799996 0.09212332   36
5 0.6215 12       14        9.5 1     7    20.100058 1.52427220   49
6 0.6915 14        7        7.5 1    33     9.859054 1.55648005 1089

In [2]:
reg1 <-lm(lwage ~ educ, data = wagedata)
summary(reg1)

Call:
lm(formula = lwage ~ educ, data = wagedata)

Residuals:
     Min       1Q   Median       3Q      Max
-3.10256 -0.31473  0.06434  0.40081  2.10029

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  -0.1852     0.1852  -1.000    0.318
educ          0.1086     0.0144   7.545 2.76e-13 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.68 on 426 degrees of freedom
Multiple R-squared:  0.1179,	Adjusted R-squared:  0.1158
F-statistic: 56.93 on 1 and 426 DF,  p-value: 2.761e-13

In [3]:
reg2<- lm(educ~fatheduc, data = wagedata)
summary(reg2)

Call:
lm(formula = educ ~ fatheduc, data = wagedata)

Residuals:
    Min      1Q  Median      3Q     Max
-8.4704 -1.1231 -0.1231  0.9546  5.9546

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 10.23705    0.27594  37.099   <2e-16 ***
fatheduc     0.26944    0.02859   9.426   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2.081 on 426 degrees of freedom
Multiple R-squared:  0.1726,	Adjusted R-squared:  0.1706
F-statistic: 88.84 on 1 and 426 DF,  p-value: < 2.2e-16

In [4]:
#IV regression,
reg3<- ivreg(lwage~educ|fatheduc, data = wagedata)
summary(reg3)

Call:
ivreg(formula = lwage ~ educ | fatheduc, data = wagedata)

Residuals:
    Min      1Q  Median      3Q     Max
-3.0870 -0.3393  0.0525  0.4042  2.0677

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  0.44110    0.44610   0.989   0.3233
educ         0.05917    0.03514   1.684   0.0929 .
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.6894 on 426 degrees of freedom
Multiple R-Squared: 0.09344,	Adjusted R-squared: 0.09131
Wald test: 2.835 on 1 and 426 DF,  p-value: 0.09294

In [ ]:
#reduced form regression
reg4<- lm(lwage~fatheduc, data = wagedata)
summary(reg4)

In [5]:
#store predicted values
wagedata$educhat = reg2$fitted.values
#regress outcomes on predicted values
reg5<- lm(lwage~educhat, data = wagedata)
summary(reg5)

Call:
lm(formula = lwage ~ educhat, data = wagedata)

Residuals:
    Min      1Q  Median      3Q     Max
-3.2126 -0.3763  0.0563  0.4173  2.0604

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  0.44110    0.46711   0.944    0.346
educhat      0.05917    0.03680   1.608    0.109

Residual standard error: 0.7219 on 426 degrees of freedom
Multiple R-squared:  0.006034,	Adjusted R-squared:  0.003701
F-statistic: 2.586 on 1 and 426 DF,  p-value: 0.1086

In [6]:
wage2data<-read_dta("WAGE2.DTA")
head(wage2data)

  wage hours IQ  KWW educ exper tenure age married black south urban sibs
1  769 40     93 35  12   11     2     31  1       0     0     1      1
2  808 50    119 41  18   11    16     37  1       0     0     1      1
3  825 40    108 46  14   11     9     33  1       0     0     1      1
4  650 40     96 32  12   13     7     32  1       0     0     1      4
5  562 40     74 27  11   14     5     34  1       0     0     1     10
6 1400 40    116 43  16   14     2     35  1       1     0     1      1
  brthord meduc feduc lwage
1  2       8     8    6.645091
2 NA      14    14    6.694562
3  2      14    14    6.715384
4  3      12    12    6.476973
5  6       6    11    6.331502
6  2       8    NA    7.244227

In [7]:
#test correlation between wages and IQ
reg6<-lm(wage~IQ, data = wage2data)
summary(reg6)

Call:
lm(formula = wage ~ IQ, data = wage2data)

Residuals:
   Min     1Q Median     3Q    Max
-898.7 -256.5  -47.3  201.1 2072.6

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 116.9916    85.6415   1.366    0.172
IQ            8.3031     0.8364   9.927   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 384.8 on 933 degrees of freedom
Multiple R-squared:  0.09554,	Adjusted R-squared:  0.09457
F-statistic: 98.55 on 1 and 933 DF,  p-value: < 2.2e-16

In [8]:
#examine correlation between IQ scores and KWW
reg7 <- lm(IQ~KWW, data = wage2data)
summary(reg7)

Call:
lm(formula = IQ ~ KWW, data = wage2data)

Residuals:
    Min      1Q  Median      3Q     Max
-48.305  -8.972   0.991   9.324  35.547

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 72.15589    2.14694   33.61   <2e-16 ***
KWW          0.81485    0.05874   13.87   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 13.71 on 933 degrees of freedom
Multiple R-squared:  0.171,	Adjusted R-squared:  0.1701
F-statistic: 192.4 on 1 and 933 DF,  p-value: < 2.2e-16

In [9]:
#construct instrumental variables regression
reg8<-ivreg(wage~IQ|KWW, data = wage2data)
summary(reg8)

Call:
ivreg(formula = wage ~ IQ | KWW, data = wage2data)

Residuals:
     Min       1Q   Median       3Q      Max
-1170.55  -275.90   -29.93   259.76  1998.92

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) -1187.858    229.865  -5.168  2.9e-07 ***
IQ             21.186      2.265   9.353  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 430.9 on 933 degrees of freedom
Multiple R-Squared: -0.1345,	Adjusted R-squared: -0.1357
Wald test: 87.47 on 1 and 933 DF,  p-value: < 2.2e-16

In [ ]:

Card_Data <-read_dta("CARD.DTA")
head(Card_Data)

In [ ]:
#compare regular and linear regression
reg9<-lm(log(wage)~educ + exper + expersq + smsa + south, data = Card_Data)
summary(reg9)
reg10<-ivreg(log(wage) ~educ + exper + expersq+ smsa + south | nearc4 + exper + expersq + smsa + south , data =Card_Data)
summary(reg10)