In [1]:
#data set is in an old version of stata.  Will need library foreign to load it
library(foreign)
wagedata <- read.dta("WAGE1.DTA")

Warning message in read.dta("WAGE1.DTA"):
“cannot read factor labels from Stata 5 files”

In [2]:
#Examine data
head(wagedata,10)

   wage  educ exper tenure nonwhite female married numdep smsa northcen ⋯
1   3.10 11    2     0     0        1      0       2      1    0        ⋯
2   3.24 12   22     2     0        1      1       3      1    0        ⋯
3   3.00 11    2     0     0        0      0       2      0    0        ⋯
4   6.00  8   44    28     0        0      1       0      1    0        ⋯
5   5.30 12    7     2     0        0      1       1      0    0        ⋯
6   8.75 16    9     8     0        0      1       0      1    0        ⋯
7  11.25 18   15     7     0        0      0       0      1    0        ⋯
8   5.00 12    5     3     0        1      0       0      1    0        ⋯
9   3.60 12   26     4     0        1      0       2      1    0        ⋯
10 18.18 17   22    21     0        0      1       0      1    0        ⋯
   trcommpu trade services profserv profocc clerocc servocc lwage    expersq
1  0        0     0        0        0       0       0       1.131402    4
2  0        0     1        0        0       0       1       1.175573  484
3  0        1     0        0        0       0       0       1.098612    4
4  0        0     0        0        0       1       0       1.791759 1936
5  0        0     0        0        0       0       0       1.667707   49
6  0        0     0        1        1       0       0       2.169054   81
7  0        1     0        0        1       0       0       2.420368  225
8  0        0     0        0        1       0       0       1.609438   25
9  0        1     0        0        1       0       0       1.280934  676
10 0        0     0        0        1       0       0       2.900322  484
   tenursq
1    0
2    4
3    0
4  784
5    4
6   64
7   49
8    9
9   16
10 441

In [3]:
#summarize wages (hourly earnings)
summary(wagedata[,"wage"])

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  0.530   3.330   4.650   5.896   6.880  24.980

In [4]:
#summarize education, experience, and tenure
summary(wagedata[,"educ"])
summary(wagedata[,"exper"])
summary(wagedata[,"tenure"])

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   0.00   12.00   12.00   12.56   14.00   18.00

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   1.00    5.00   13.50   17.02   26.00   51.00

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  0.000   0.000   2.000   5.105   7.000  44.000

In [5]:
#regress log wage on education
Reg1 <- lm(lwage~educ, data = wagedata)
#display full results of regression
summary(Reg1)

Call:
lm(formula = lwage ~ educ, data = wagedata)

Residuals:
     Min       1Q   Median       3Q      Max
-2.21158 -0.36393 -0.07263  0.29712  1.52339

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 0.583773   0.097336   5.998 3.74e-09 ***
educ        0.082744   0.007567  10.935  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4801 on 524 degrees of freedom
Multiple R-squared:  0.1858,	Adjusted R-squared:  0.1843
F-statistic: 119.6 on 1 and 524 DF,  p-value: < 2.2e-16

In [6]:
#control for experience
Reg2 <- lm(lwage ~ educ + exper, data = wagedata)
#display full results of regression
summary(Reg2)

Call:
lm(formula = lwage ~ educ + exper, data = wagedata)

Residuals:
     Min       1Q   Median       3Q      Max
-2.05800 -0.30136 -0.04539  0.30601  1.44425

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 0.216854   0.108595   1.997   0.0464 *
educ        0.097936   0.007622  12.848  < 2e-16 ***
exper       0.010347   0.001555   6.653 7.24e-11 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4614 on 523 degrees of freedom
Multiple R-squared:  0.2493,	Adjusted R-squared:  0.2465
F-statistic: 86.86 on 2 and 523 DF,  p-value: < 2.2e-16

In [7]:
#allow a quadratic in experience
Reg3 <- lm(lwage ~ educ + exper + expersq, data = wagedata)
summary(Reg3)

Call:
lm(formula = lwage ~ educ + exper + expersq, data = wagedata)

Residuals:
     Min       1Q   Median       3Q      Max
-1.96387 -0.29375 -0.04009  0.29497  1.30216

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  0.1279975  0.1059323   1.208    0.227
educ         0.0903658  0.0074680  12.100  < 2e-16 ***
exper        0.0410089  0.0051965   7.892 1.77e-14 ***
expersq     -0.0007136  0.0001158  -6.164 1.42e-09 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4459 on 522 degrees of freedom
Multiple R-squared:  0.3003,	Adjusted R-squared:  0.2963
F-statistic: 74.67 on 3 and 522 DF,  p-value: < 2.2e-16

In [10]:
#control for being non-white: not strongly correlated with wages in these data
#what do you expect to happen?
Reg4<- lm(lwage ~ educ + exper + expersq + nonwhite, data = wagedata)
summary(Reg4)

Call:
lm(formula = lwage ~ educ + exper + expersq + nonwhite, data = wagedata)

Residuals:
     Min       1Q   Median       3Q      Max
-1.96504 -0.29497 -0.04092  0.29623  1.30092

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  0.1304809  0.1069908   1.220    0.223
educ         0.0902510  0.0075041  12.027  < 2e-16 ***
exper        0.0410322  0.0052031   7.886 1.84e-14 ***
expersq     -0.0007142  0.0001159  -6.161 1.45e-09 ***
nonwhite    -0.0111807  0.0643820  -0.174    0.862
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4463 on 521 degrees of freedom
Multiple R-squared:  0.3003,	Adjusted R-squared:  0.2949
F-statistic:  55.9 on 4 and 521 DF,  p-value: < 2.2e-16

In [11]:
#add in tenure to basic regression: relates to wages but not to education
#what do you expect to happen to the coefficient and SE on educ?
Reg5 <- lm(lwage ~ educ + tenure, data = wagedata)
summary(Reg5)
summary(Reg1)

Call:
lm(formula = lwage ~ educ + tenure, data = wagedata)

Residuals:
     Min       1Q   Median       3Q      Max
-2.10350 -0.29287 -0.04081  0.28672  1.44967

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 0.404474   0.091696   4.411 1.25e-05 ***
educ        0.086528   0.006991  12.377  < 2e-16 ***
tenure      0.025814   0.002680   9.634  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4428 on 523 degrees of freedom
Multiple R-squared:  0.3085,	Adjusted R-squared:  0.3059
F-statistic: 116.7 on 2 and 523 DF,  p-value: < 2.2e-16

Call:
lm(formula = lwage ~ educ, data = wagedata)

Residuals:
     Min       1Q   Median       3Q      Max
-2.21158 -0.36393 -0.07263  0.29712  1.52339

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 0.583773   0.097336   5.998 3.74e-09 ***
educ        0.082744   0.007567  10.935  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4801 on 524 degrees of freedom
Multiple R-squared:  0.1858,	Adjusted R-squared:  0.1843
F-statistic: 119.6 on 1 and 524 DF,  p-value: < 2.2e-16

In [13]:
#add in being in a professional occupation (dummy) to basic regression: strongly relates to education
#what do you expect to happen to the coefficient and SE on educ?
Reg6 <- lm(lwage ~ educ + profocc, data = wagedata)
summary(Reg6)
summary(Reg1)

Call:
lm(formula = lwage ~ educ + profocc, data = wagedata)

Residuals:
     Min       1Q   Median       3Q      Max
-2.10405 -0.30459 -0.04389  0.30578  1.29300

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 0.827195   0.099273   8.333 7.00e-16 ***
educ        0.053498   0.008339   6.416 3.14e-10 ***
profocc     0.337920   0.047862   7.060 5.31e-12 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4592 on 523 degrees of freedom
Multiple R-squared:  0.2567,	Adjusted R-squared:  0.2538
F-statistic: 90.29 on 2 and 523 DF,  p-value: < 2.2e-16

Call:
lm(formula = lwage ~ educ, data = wagedata)

Residuals:
     Min       1Q   Median       3Q      Max
-2.21158 -0.36393 -0.07263  0.29712  1.52339

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 0.583773   0.097336   5.998 3.74e-09 ***
educ        0.082744   0.007567  10.935  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4801 on 524 degrees of freedom
Multiple R-squared:  0.1858,	Adjusted R-squared:  0.1843
F-statistic: 119.6 on 1 and 524 DF,  p-value: < 2.2e-16

In [ ]:
# Back to lecture

In [17]:
#What about multicollinear variables?
#define variable male = 1-female
wagedata[,"male"] <- 1-wagedata[,"female"]
#regress log wages on education, male, and female
Reg7 <- lm(lwage ~ educ + male + female, data = wagedata)
summary(Reg7)

Call:
lm(formula = lwage ~ educ + male + female, data = wagedata)

Residuals:
     Min       1Q   Median       3Q      Max
-2.02672 -0.27470 -0.03731  0.26219  1.34738

Coefficients: (1 not defined because of singularities)
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 0.465404   0.091227   5.102 4.72e-07 ***
educ        0.077203   0.007047  10.955  < 2e-16 ***
male        0.360865   0.039024   9.247  < 2e-16 ***
female            NA         NA      NA       NA
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4455 on 523 degrees of freedom
Multiple R-squared:  0.3002,	Adjusted R-squared:  0.2975
F-statistic: 112.2 on 2 and 523 DF,  p-value: < 2.2e-16

In [18]:
#What about more complicated multicollinearity?
#we can back out age from these data assuming people start education at 6 and are never out of school or work
#define age in the data
wagedata$age<-wagedata$exper+wagedata$educ+6
#What happens if we run our regressions controlling for age, educ, and exper?
Reg8 <-lm(lwage ~ educ + exper + age, data = wagedata)
summary(Reg8)

Call:
lm(formula = lwage ~ educ + exper + age, data = wagedata)

Residuals:
     Min       1Q   Median       3Q      Max
-2.05800 -0.30136 -0.04539  0.30601  1.44425

Coefficients: (1 not defined because of singularities)
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 0.216854   0.108595   1.997   0.0464 *
educ        0.097936   0.007622  12.848  < 2e-16 ***
exper       0.010347   0.001555   6.653 7.24e-11 ***
age               NA         NA      NA       NA
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4614 on 523 degrees of freedom
Multiple R-squared:  0.2493,	Adjusted R-squared:  0.2465
F-statistic: 86.86 on 2 and 523 DF,  p-value: < 2.2e-16

In [24]:
#What if we allow between 0-5 years away from education or work?
# *Almost* perfect collinearity
wagedata$age2<-wagedata$exper+wagedata$educ+6+runif(nrow(wagedata))*5
Reg9 <-lm(lwage ~ educ + exper + age2, data = wagedata)
summary(Reg9)

Call:
lm(formula = lwage ~ educ + exper + age2, data = wagedata)

Residuals:
    Min      1Q  Median      3Q     Max
-2.0513 -0.3056 -0.0489  0.3050  1.4415

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)  0.248106   0.161947   1.532    0.126
educ         0.101647   0.016171   6.286  6.9e-10 ***
exper        0.014037   0.014262   0.984    0.325
age2        -0.003701   0.014218  -0.260    0.795
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4618 on 522 degrees of freedom
Multiple R-squared:  0.2494,	Adjusted R-squared:  0.2451
F-statistic: 57.83 on 3 and 522 DF,  p-value: < 2.2e-16